
.auth-dialog {
	width: 40%;
	height: 40%;
	background-color: var(--color-white);
	border-radius: 8px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: stretch;

	form {
		padding: 24px;
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: stretch;
		align-items: stretch;

		label {
			margin-bottom: 0;
		}

		input {
			margin-bottom: 24px;
			height: 42px;
			width: 100%;
			border: 1px solid #363636;
			border-radius: 4px;

			&:focus {
				border: 2px solid #363636;
			}
		}

		.dialog_content {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-content: stretch;
			align-items: stretch;
		}

		.dialog_actions {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-content: stretch;
			align-items: stretch;

			button {
				height: 45px;
				padding: 0 20px;
				margin-bottom: 0;
				background-color: #fff;
				border: 1px solid #363636;
				border-radius: 4px;
				color: #363636;
				cursor: pointer;
				box-shadow: none;

				&.cta {
					background-color: var(--main-app-color);
					border: 1px solid var(--main-app-color);
					color: #fff;

					&:hover {
						background-color: darken(#12B6E2, 20%);
						border-color: darken(#12B6E2, 20%);
						color: #fff;
					}
				}

				&:hover {
					background-color: #363636;
					color: #fff;
				}
			}
		}
	}
}